.editbtn {
    /* background-color: black; */
    /* color: rgb(58, 238, 42); */
    /* border-radius: 20px; */
    /* padding: 3px 90px; */
    /* margin-right: 10px; */
    
    

}
.deletebtn {
    /* background-color: black; */
    /* color: rgb(252, 247, 246); */
    /* border-radius: 40px;
    padding: 3px 20px; */
    margin-left: 550px;
    

}
.editbtn:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.newbtn {
    background-color: black;
    color: rgb(252, 247, 246);
    border-radius: 40px;
    padding: 3px 20px;
    margin-left: 700px;
    margin-top: 10px;
    

}
.post{
    /* align-items: center; */
 /* position: relative; */
 /* display: flex; */
 margin-left: 400px;
 margin-right: 300px;
 width: 900px;
 background-color: white;
}
.paragraph{
    margin-bottom: 15px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    width: 600px;
    margin-right: 200px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    overflow-wrap: break-word; 
    /* word-wrap: break-word;  */
    /* word-break: break-word;  */
}
.singlePost{
    justify-content: 'center',;
    align-items: 'center';
    margin: 20px 0px 0px 400px;
    width: 700px;
}
.singleParagraph{
    margin-bottom: 15px;
    width: 600px;
    margin-right: 200px;
    overflow: hidden;
    overflow-wrap: break-word; 

}
