<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/nav.css">
    <title>ExploreKE</title>
</head>
<body>
    <div class="nav">
        <a class="active" href="#">Home</a>
        <a href="articles.html">Articles</a>
        <input type="text" placeholder="Search..">
        <a href="#" class="split">Login</a>
    </div>
    <p class="slog">UNLOCKING THE HEART OF ADVENTURE</p>
</body>
</html>